---
import PaperLink from "./PaperLink.astro";
const { data } = Astro.props
---

<div class="mt-size-sm">
  <h2
    class="font-white text-size-2 font-bold"
    set:html={data.title}
  >
  </h2>

  {
    data.author &&
    <p class="mt-size-2xs text-size-0 ">
      with 
      { 
        data.author.map((author, i) => {
          if (data.author.length == 1) {
            return (<Fragment><a href={author.url} class="underline">{author.name}</a></Fragment>)
          } else if (data.author.length == 2 && i == 0) {
            return (<Fragment><a href={author.url} class="underline">{author.name}</a>&nbsp;</Fragment>)
          } else if ((data.author.length - 1) == i) {
            return (<Fragment><span>and </span><a href={author.url} class="underline">{author.name}</a></Fragment>)
          } else {
            return (<Fragment><a href={author.url} class="underline">{author.name}</a>, </Fragment>)
          }
        })
      }
    </p>
  }

  <p
    class="mt-size-2xs text-size-0 text-alice-500 italic"
    set:html={data.status}
  />

  <div class="mt-size-sm text-size-0">
    {data.links.map((link, i) => (
						<PaperLink name={link.name} url={link.url} includeRightBar={i < data.links.length - 1} />
					))}
  </div>

  {
    data.summary ? (
      <p set:html={data.summary} class="mt-size-lg text-size-0" />
    ) : (
      <Fragment></Fragment>
    )
  }
</div>
