---
import { getCollection } from "astro:content"
import Block from "../../components/Block.astro"
import BaseLayout from "../../layouts/BaseLayout.astro"
import PostAuthor from "../../components/blog/PostAuthor.astro"

export async function getStaticPaths() {
	const posts = await getCollection("blog")
	return posts
		.map((post) => {
			return {
				params: { slug: post.slug },
				props: { post },
			}
		})
}

const { post } = Astro.props
const { Content } = await post.render()
let authors = post.data.author
authors = authors.sort((a, b) => {
	const aLastName = a.name.split(" ").slice(-1)[0]
	const bLastName = b.name.split(" ").slice(-1)[0]
	return aLastName.localeCompare(bLastName)
})

// 2023-02-17 -> February 17th, 2023
let dateText = new Date(post.data.date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
})
---

<BaseLayout slug={post.slug} katex>
	<Block prose flow>
		<h1
			class="mt-size-lg font-white cursor-pointer text-size-3 font-bold"
			set:html={`${post.data.draft ? "🚧 " : ""}${post.data.title}`}
		/>

		<p class="mt-size-3xs text-size--1 text-zinc-400">
		  <span><PostAuthor authors={authors}></PostAuthor></span>
      <span class="inline-block px-2 text-mono"> | </span>
      <time class="tracking-wide text-mono" datetime={post.data.date}>
				{dateText}
			</time>
		</p>

		<Content />
	</Block>
</BaseLayout>
