---
const { frontmatter, slug = "", includeSummary = true, i = 0 } = Astro.props
---

<div>
	{
		frontmatter.display === true ? (
			<a
				href={frontmatter.display === true ? `/papers/${slug}` : null}
				class="block"
			>
				<h2
					class="font-white dark:font-mine-shaft-900 cursor-pointer pt-size-md text-size-1 font-bold tracking-tighter"
					set:html={frontmatter.title}
				/>
			</a>
		) : (
			<h2
				class="font-white dark:font-mine-shaft-900 cursor-pointer pt-size-md text-size-1 font-bold tracking-tighter"
				set:html={frontmatter.title}
			/>
		)
	}

	<div class="mt-size-xs flex flex-row flex-wrap gap-size-xs text-size-0">
		{
			frontmatter.author.map((author) => (
				<a href={author.url} class="underline decoration-alice-500">
					{author.name}
				</a>
			))
		}
	</div>
</div>

<div>
	<h3
		class="mt-size-2xs text-size-0 text-alice-500 font-light"
		set:html={frontmatter.status}
	>
	</h3>

	{
		includeSummary && frontmatter.summary ? (
			<div class="mt-size-md">
				<p set:html={frontmatter.summary} class="text-size-0" />
			</div>
		) : (
			<Fragment />
		)
	}
</div>

<div>

</div>
