---
import Block from "../components/Block.astro";
import MenuBar from "../components/MenuBar/MenuBar.astro";
import SetupDarkMode from "../components/MenuBar/SetupDarkMode.astro";
import IncludeKatex from "../components/IncludeKatex.astro";

import "../styles/global.css"

// og-image by slug
const { 
  slug = "default",
  description = "Kyle Butts -- Urban Economics and Applied Econometrics",
  katex = false,
} = Astro.props

let ogImage = `https://kylebutts.com/og-images/${slug}.png`
// console.log(ogImage)
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>Kyle Butts</title>
  <meta name="description" content={description} />
  <meta property="og:image" content={ogImage} />
  <meta property="twitter:image" content={ogImage} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Kyle Butts" />
  <meta name="twitter:description" content={description} />
  
  <!-- Preload Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,700;0,800;1,200;1,300&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Set theme on body -->
  <SetupDarkMode />
  
  <div
    class="min-h-screen w-full bg-white font-jetbrains text-mine-shaft-900 dark:bg-mine-shaft-900 dark:text-white">
    <div class="pt-size-xs prose:pt-size-sm-md pb-size-2xl">
      <Block >
        <MenuBar />
      </Block>
        
      <slot />
    </div>
  </div>

  { katex && <IncludeKatex /> }
</body>

</html>
