---
import Layout from "../../layouts/Layout.astro";
import { Debug } from 'astro/components';
let papers = await Astro.glob('./*.mdx');

papers = papers.map((paper) => {
  
  if(paper.frontmatter.category?.includes("Published")) {
    paper.frontmatter.order = 5
  } else if(paper.frontmatter.category?.includes("R&R")) {
    paper.frontmatter.order = 4
  } else if(paper.frontmatter.category?.includes("Submitted")) {
    paper.frontmatter.order = 3
  } else if(paper.frontmatter.category?.includes("Working Paper")) {
    paper.frontmatter.order = 2
  } else if (paper.frontmatter.category?.includes("Work in Progress")) {
    paper.frontmatter.order = 1
  } else {
    paper.frontmatter.order = 0
  }

  return(paper)
}).sort((a, b) => {
  if(a.frontmatter.order == b.frontmatter.order) {
    let aDate = new Date(a.frontmatter.date)
    let bDate = new Date(b.frontmatter.date)

    // getTime is milliseconds since Jan 1, 1970, 00:00:00.000 GMT
    return (
      -1 * (aDate.getTime() - bDate.getTime())
    )
  } else {
    return(
      -1 * (a.frontmatter.order - b.frontmatter.order)
    )
  }
})
---

<Layout content prose>
  <ul class="flex flex-col gap-y-size-lg">
    {papers.map((paper, i) => {
    // get slug of file name
    let slug = paper.file.match(/([\w-_]*).mdx$/)[1]

    return (
    <li
      class="block px-size-3xs prose:px-size-xs py-size-sm hover:bg-mine-shaft-200/30 hover:shadow-md border-y-2 border-transparent hover:border-mine-shaft-600 dark:hover:bg-mine-shaft-700 dark:hover:shadow-none relative ">
      <a href={paper.frontmatter.display===true ? `/papers/${slug}` : null}
        class="block">
        <h2
          class="cursor-pointer tracking-tighter font-white dark:font-mine-shaft-900 text-size-1 font-bold"
          set:html={paper.frontmatter.title} />
      </a>

      <h3 class="mt-size-3xs text-size-0 text-alice-400"
        set:html={paper.frontmatter.status} />

      <div class="text-md mt-size-md flex flex-row flex-wrap gap-size-xs">
        {paper.frontmatter.author.map((author) => (
        <div>
          <p class="text-size-0">
            <a href={author.url} class="underline decoration-alice-500">
              {author.name}
            </a>
          </p>
        </div>
        ))}
      </div>
    </li>
    );
    })}
  </ul>
</Layout>
