---
import Layout from "../../layouts/Layout.astro";
const papers = await Astro.glob('./*.md');
---

<Layout content prose>
  <ul class="flex flex-col gap-y-size-lg">
    {papers.map((paper, i) => {
    // get slug of file name
    let slug = paper.file.match(/([\w-_]*).md$/)[1]

    return (
    <li
      class="block px-size-3xs prose:px-size-xs py-size-sm hover:bg-mine-shaft-200/30 hover:shadow-md border-y-2 border-transparent hover:border-mine-shaft-600 dark:hover:bg-mine-shaft-700 dark:hover:shadow-none relative ">
      <a href={paper.frontmatter.display===true ? `/papers/${slug}` : null}
        class="block">
        <h2
          class="cursor-pointer tracking-tighter font-white dark:font-mine-shaft-900 text-size-1 font-bold"
          set:html={paper.frontmatter.title} />
      </a>

      <h3 class="mt-size-3xs text-size-0 text-alice-400"
        set:html={paper.frontmatter.status} />

      <div
        class="text-md mt-size-md flex flex-row flex-wrap gap-size-xs">
        {paper.frontmatter.author.map((author) => (
        <div>
          <p class="text-size-0">
            <a href={author.url} class="underline decoration-alice-500">
              {author.name}
            </a>
          </p>
        </div>
        ))}
      </div>
    </li>
    );
    })}
  </ul>
</Layout>
