---
import Layout from "../../layouts/Layout.astro"
import PaperListCard from "../../components/PaperListCard.astro"

import { getCollection } from "astro:content"
let papers_unsorted = await getCollection("papers")

let papers = papers_unsorted
	.map((paper) => {
		if (paper.data.category?.includes("Published")) {
			paper.data.order = 5
		} else if (paper.data.category?.includes("R&R")) {
			paper.data.order = 4
		} else if (paper.data.category?.includes("Submitted")) {
			paper.data.order = 3
		} else if (paper.data.category?.includes("Working Paper")) {
			paper.data.order = 2
		} else if (paper.data.category?.includes("Work in Progress")) {
			paper.data.order = 1
		} else {
			paper.data.order = 0
		}

		return paper
	})
	.sort((a, b) => {
		if (a.data.order == b.data.order) {
			let aDate = new Date(a.data.date)
			let bDate = new Date(b.data.date)

			// getTime is milliseconds since Jan 1, 1970, 00:00:00.000 GMT
			return -1 * (aDate.getTime() - bDate.getTime())
		} else {
			return -1 * (a.data.order - b.data.order)
		}
	})

let publishedPapers = papers.filter((paper) => paper.data.order == 5)
let workingPapers = papers.filter(
	(paper) => paper.data.order < 5 && paper.data.order >= 2
)
let workInProgress = papers.filter((paper) => paper.data.order < 2)
---

<Layout>
	<h2
		class="border-t-[0px] border-mine-shaft-700 dark:border-mine-shaft-200 pt-size-2xs mt-size-sm mb-size-md text-size-2 text-mine-shaft-700 dark:text-mine-shaft-50 font-extrabold"
	>
		Publications
	</h2>
	<ul class="flex flex-col gap-y-size-sm">
		{
			publishedPapers.map((paper, i) => {
				return (
					<PaperListCard
						data={paper.data}
						slug={paper.slug}
						includeSummary={true}
					/>
				)
			})
		}
	</ul>

	<h2
		class="border-t-[0px] border-mine-shaft-700 dark:border-mine-shaft-200 pt-size-2xs mt-size-lg mb-size-md text-size-2 text-mine-shaft-700 dark:text-mine-shaft-50 font-extrabold"
	>
		Working Papers
	</h2>
	<ul class="flex flex-col gap-y-size-sm">
		{
			workingPapers.map((paper, i) => {
				return (
					<PaperListCard
						data={paper.data}
						slug={paper.slug}
						includeSummary={true}
					/>
				)
			})
		}
	</ul>

	{
		workInProgress.length > 0 && (
			<>
				<h2 class="mb-size-md mt-size-lg border-t-[0px] border-mine-shaft-700 pt-size-2xs text-size-2 font-extrabold text-mine-shaft-700 dark:border-mine-shaft-200 dark:text-mine-shaft-100">
					Work in Progress
				</h2>
				<ul class="flex flex-col gap-y-size-2xs">
					{workInProgress.map((paper, i) => {
						return (
							<PaperListCard
								data={paper.data}
								slug={paper.slug}
								includeSummary={true}
							/>
						)
					})}
				</ul>
			</>
		)
	}
</Layout>
